In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.simplefilter('ignore')

In [3]:
df=pd.read_csv('train.csv')

In [4]:
df.head()

,player_id,name,age,gender,country,height,weight,ball_controlling_skills,body_reflexes,body_balance,...,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications,selection
0,PLID_4964,Keva Horan,23,M,Ukraine,6'2,176lbs,77.0,58.0,47.0,...,Right,7.7,NaN,8.1,2.0,High,Talent Hunt,8.0,0.0,1
1,PLID_11234,Herma Tann,18,M,Russia,5'10,148lbs,54.0,69.0,70.0,...,Any,5.3,0.0,NaN,3.0,Medium,Source,3.0,0.0,0
2,PLID_19127,Eilene Kizer,16,F,Spain,6'2,172lbs,34.0,43.0,45.0,...,Left,4.7,0.0,6.6,5.0,Low,Academy,2.0,0.0,1
3,PLID_17467,Andrea Badgett,27,M,Chile,5'11,165lbs,79.0,73.0,76.0,...,Right,8.6,113.0,8.6,6.0,Medium,Academy,13.0,16.0,1
4,PLID_9661,Jeremiah Bumbalough,19,F,Argentina,5'8,158lbs,47.0,61.0,74.0,...,Right,NaN,0.0,5.7,5.0,Medium,Academy,4.0,0.0,0

In [6]:
df_new=df.copy()

In [7]:
df.drop(['player_id','name','country'],axis=1,inplace=True)

In [8]:
df.head()

,age,gender,height,weight,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,...,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications,selection
0,23,M,6'2,176lbs,77.0,58.0,47.0,59.0,41.0,73.0,...,Right,7.7,NaN,8.1,2.0,High,Talent Hunt,8.0,0.0,1
1,18,M,5'10,148lbs,54.0,69.0,70.0,62.0,53.0,43.0,...,Any,5.3,0.0,NaN,3.0,Medium,Source,3.0,0.0,0
2,16,F,6'2,172lbs,34.0,43.0,45.0,69.0,49.0,45.0,...,Left,4.7,0.0,6.6,5.0,Low,Academy,2.0,0.0,1
3,27,M,5'11,165lbs,79.0,73.0,76.0,86.0,81.0,80.0,...,Right,8.6,113.0,8.6,6.0,Medium,Academy,13.0,16.0,1
4,19,F,5'8,158lbs,47.0,61.0,74.0,57.0,49.0,35.0,...,Right,NaN,0.0,5.7,5.0,Medium,Academy,4.0,0.0,0

In [22]:
df_cat=df.select_dtypes('O')

In [23]:
df_cat.head()

  gender height  weight strong_foot dedication_level     coaching
0      M    6'2  176lbs       Right             High  Talent Hunt
1      M   5'10  148lbs         Any           Medium       Source
2      F    6'2  172lbs        Left              Low      Academy
3      M   5'11  165lbs       Right           Medium      Academy
4      F    5'8  158lbs       Right           Medium      Academy

In [24]:
df_num=df.select_dtypes(exclude='O')

In [25]:
df_num.head()

,age,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,...,shot_accuracy,body_strength_stamina,max_running_speed,behaviour_rating,matches_played,fitness_rating,trophies_won,years_of_experience,no_of_disqualifications,selection
0,23,77.0,58.0,47.0,59.0,41.0,73.0,13.0,69.0,70.0,...,50.0,72.0,24.4,7.7,NaN,8.1,2.0,8.0,0.0,1
1,18,54.0,69.0,70.0,62.0,53.0,43.0,10.0,30.0,50.0,...,53.0,54.0,22.6,5.3,0.0,NaN,3.0,3.0,0.0,0
2,16,34.0,43.0,45.0,69.0,49.0,45.0,10.0,57.0,37.0,...,NaN,66.0,23.2,4.7,0.0,6.6,5.0,2.0,0.0,1
3,27,79.0,73.0,76.0,86.0,81.0,80.0,3.0,85.0,80.0,...,79.0,78.0,21.2,8.6,113.0,8.6,6.0,13.0,16.0,1
4,19,47.0,61.0,74.0,57.0,49.0,35.0,9.0,60.0,39.0,...,35.0,56.0,23.4,NaN,0.0,5.7,5.0,4.0,0.0,0

In [26]:
for col in df_cat.columns:
    df_cat[col]=df_cat[col].fillna(df_cat[col].mode()[0])

In [27]:
df_cat.isnull().sum()

gender              0
height              0
weight              0
strong_foot         0
dedication_level    0
coaching            0
dtype: int64

In [29]:
df_cat.head()

  gender height  weight strong_foot dedication_level     coaching
0      M    6'2  176lbs       Right             High  Talent Hunt
1      M   5'10  148lbs         Any           Medium       Source
2      F    6'2  172lbs        Left              Low      Academy
3      M   5'11  165lbs       Right           Medium      Academy
4      F    5'8  158lbs       Right           Medium      Academy

In [30]:
df_cat['weight']=df_cat['weight'].str.split('lbs').str[0]

In [45]:
df_cat['height']=df_cat['height'].str.split("'").str[0].astype(int)*12+df_cat['height'].str.split("'").str[1].astype(int)

In [48]:
df_cat['weight']=df_cat['weight'].astype(int)

In [51]:
df_num['height']=df_cat['height']

In [53]:
df_num['weight']=df_cat['weight']

In [55]:
df_cat=df_cat.drop(['height','weight'],axis=1)

In [56]:
df_cat.shape

(13994, 4)

In [57]:
df_num.shape

(13994, 23)

In [59]:
df_cat=pd.get_dummies(df_cat)

In [60]:
#fixing numberical column values

In [61]:
for col in df_num.columns:
    df_num[col]=df_num[col].fillna(df_num[col].median())

In [62]:
df_num.head()

,age,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,...,max_running_speed,behaviour_rating,matches_played,fitness_rating,trophies_won,years_of_experience,no_of_disqualifications,selection,height,weight
0,23,77.0,58.0,47.0,59.0,41.0,73.0,13.0,69.0,70.0,...,24.4,7.7,0.0,8.1,2.0,8.0,0.0,1,74,176
1,18,54.0,69.0,70.0,62.0,53.0,43.0,10.0,30.0,50.0,...,22.6,5.3,0.0,6.8,3.0,3.0,0.0,0,70,148
2,16,34.0,43.0,45.0,69.0,49.0,45.0,10.0,57.0,37.0,...,23.2,4.7,0.0,6.6,5.0,2.0,0.0,1,74,172
3,27,79.0,73.0,76.0,86.0,81.0,80.0,3.0,85.0,80.0,...,21.2,8.6,113.0,8.6,6.0,13.0,16.0,1,71,165
4,19,47.0,61.0,74.0,57.0,49.0,35.0,9.0,60.0,39.0,...,23.4,5.9,0.0,5.7,5.0,4.0,0.0,0,68,158

In [63]:
# using standard scaler for transofrming data

In [64]:
from sklearn.preprocessing import StandardScaler

In [65]:
scaler=StandardScaler()

In [78]:
y=df_num['selection']

In [82]:
df_num1=df_num.drop('selection',axis=1)

In [83]:
scaler.fit(df_num1)

StandardScaler()

In [84]:
df_num_scaled=pd.DataFrame(scaler.transform(df_num1),columns=df_num1.columns)

In [85]:
df_final=df_cat.join(df_num_scaled)

In [86]:
df_final.head()

,gender_F,gender_M,strong_foot_Any,strong_foot_Left,strong_foot_None,strong_foot_Right,dedication_level_High,dedication_level_Low,dedication_level_Medium,coaching_Academy,...,body_strength_stamina,max_running_speed,behaviour_rating,matches_played,fitness_rating,trophies_won,years_of_experience,no_of_disqualifications,height,weight
0,0,1,0,0,0,1,1,0,0,0,...,0.811946,0.156695,1.754828,-0.280270,1.005238,-0.812768,0.354629,0.065823,0.132467,0.683213
1,0,1,1,0,0,0,0,0,1,0,...,-0.751624,-0.189845,-0.492529,-0.280270,0.225018,-0.227662,-0.774536,0.065823,-0.087438,-1.156733
2,1,0,0,1,0,0,0,1,0,1,...,0.290756,-0.074332,-1.054369,-0.280270,0.104984,0.942550,-1.000369,0.065823,0.132467,0.420364
3,0,1,0,0,0,1,0,0,1,1,...,1.333136,-0.459377,2.597587,8.227703,1.305322,1.527657,1.483794,0.287981,-0.032462,-0.039623
4,1,0,0,0,0,1,0,0,1,1,...,-0.577894,-0.035827,0.069310,-0.280270,-0.435167,0.942550,-0.548703,0.065823,-0.197390,-0.499609

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
RF=RandomForestClassifier()

In [87]:
X=df_final
y=df['selection']

In [93]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=23,stratify=y)

In [94]:
X_train.shape

(10495, 35)

In [95]:
y_train.shape

(10495,)

In [96]:
y_train.value_counts()

1    5851
0    4644
Name: selection, dtype: int64

In [97]:
RF.fit(X_train,y_train)
y_pred=RF.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.8565304372677908

In [98]:
from sklearn.linear_model import LogisticRegression

In [99]:
LR=LogisticRegression()

In [100]:
LR.fit(X_train,y_train)
y_pred=LR.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.7822234924264075