In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.simplefilter('ignore')

In [3]:
df=pd.read_csv("train.csv")

In [4]:
df.shape

(13994, 30)

In [5]:
df.head()

,player_id,name,age,gender,country,height,weight,ball_controlling_skills,body_reflexes,body_balance,...,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications,selection
0,PLID_4964,Keva Horan,23,M,Ukraine,6'2,176lbs,77.0,58.0,47.0,...,Right,7.7,NaN,8.1,2.0,High,Talent Hunt,8.0,0.0,1
1,PLID_11234,Herma Tann,18,M,Russia,5'10,148lbs,54.0,69.0,70.0,...,Any,5.3,0.0,NaN,3.0,Medium,Source,3.0,0.0,0
2,PLID_19127,Eilene Kizer,16,F,Spain,6'2,172lbs,34.0,43.0,45.0,...,Left,4.7,0.0,6.6,5.0,Low,Academy,2.0,0.0,1
3,PLID_17467,Andrea Badgett,27,M,Chile,5'11,165lbs,79.0,73.0,76.0,...,Right,8.6,113.0,8.6,6.0,Medium,Academy,13.0,16.0,1
4,PLID_9661,Jeremiah Bumbalough,19,F,Argentina,5'8,158lbs,47.0,61.0,74.0,...,Right,NaN,0.0,5.7,5.0,Medium,Academy,4.0,0.0,0

In [6]:
pd.set_option('display.max_columns', 50)

In [7]:
df.head()

,player_id,name,age,gender,country,height,weight,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,dribbling_skills,shot_accuracy,body_strength_stamina,max_running_speed,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications,selection
0,PLID_4964,Keva Horan,23,M,Ukraine,6'2,176lbs,77.0,58.0,47.0,59.0,41.0,73.0,13.0,69.0,70.0,36.0,50.0,72.0,24.4,Right,7.7,NaN,8.1,2.0,High,Talent Hunt,8.0,0.0,1
1,PLID_11234,Herma Tann,18,M,Russia,5'10,148lbs,54.0,69.0,70.0,62.0,53.0,43.0,10.0,30.0,50.0,30.0,53.0,54.0,22.6,Any,5.3,0.0,NaN,3.0,Medium,Source,3.0,0.0,0
2,PLID_19127,Eilene Kizer,16,F,Spain,6'2,172lbs,34.0,43.0,45.0,69.0,49.0,45.0,10.0,57.0,37.0,18.0,NaN,66.0,23.2,Left,4.7,0.0,6.6,5.0,Low,Academy,2.0,0.0,1
3,PLID_17467,Andrea Badgett,27,M,Chile,5'11,165lbs,79.0,73.0,76.0,86.0,81.0,80.0,3.0,85.0,80.0,40.0,79.0,78.0,21.2,Right,8.6,113.0,8.6,6.0,Medium,Academy,13.0,16.0,1
4,PLID_9661,Jeremiah Bumbalough,19,F,Argentina,5'8,158lbs,47.0,61.0,74.0,57.0,49.0,35.0,9.0,60.0,39.0,34.0,35.0,56.0,23.4,Right,NaN,0.0,5.7,5.0,Medium,Academy,4.0,0.0,0

In [8]:
df.dtypes

player_id                     object
name                          object
age                            int64
gender                        object
country                       object
height                        object
weight                        object
ball_controlling_skills      float64
body_reflexes                float64
body_balance                 float64
jumping_skills               float64
penalties_conversion_rate    float64
mental_strength              float64
goalkeeping_skills           float64
defending_skills             float64
passing_skills               float64
dribbling_skills             float64
shot_accuracy                float64
body_strength_stamina        float64
max_running_speed            float64
strong_foot                   object
behaviour_rating             float64
matches_played               float64
fitness_rating               float64
trophies_won                 float64
dedication_level              object
coaching                      object
years_of_experience          float64
no_of_disqualifications      float64
selection                      int64
dtype: object

In [9]:
df.isnull().sum()

player_id                      0
name                           0
age                            0
gender                        19
country                        0
height                         0
weight                       417
ball_controlling_skills      413
body_reflexes                  0
body_balance                   0
jumping_skills                24
penalties_conversion_rate     30
mental_strength               28
goalkeeping_skills             0
defending_skills               0
passing_skills                 0
dribbling_skills               0
shot_accuracy                572
body_strength_stamina          0
max_running_speed              0
strong_foot                  552
behaviour_rating             703
matches_played               666
fitness_rating               695
trophies_won                   0
dedication_level               0
coaching                     125
years_of_experience          144
no_of_disqualifications        0
selection                      0
dtype: int64

In [10]:
df.nunique()

player_id                    13994
name                         13994
age                             39
gender                           2
country                        163
height                          31
weight                          88
ball_controlling_skills         89
body_reflexes                   84
body_balance                    86
jumping_skills                  74
penalties_conversion_rate       86
mental_strength                 83
goalkeeping_skills              65
defending_skills                78
passing_skills                  77
dribbling_skills                48
shot_accuracy                   79
body_strength_stamina           73
max_running_speed              166
strong_foot                      4
behaviour_rating                64
matches_played                  18
fitness_rating                  85
trophies_won                    10
dedication_level                 3
coaching                         4
years_of_experience             25
no_of_disqualifications         17
selection                        2
dtype: int64

In [11]:
## Made a copy so that i can do preprocessing steps on copied data so that original does not get affected
df_new=df.copy()

In [12]:
df_new=df_new.drop(['player_id','name','country'],axis=1)

In [13]:
df_cat=df_new.select_dtypes('O')

In [14]:
df_num=df_new.select_dtypes(['int','float'])

In [15]:
df_num.shape

(13994, 21)

In [16]:
df_new['weight'].unique()

array(['176lbs', '148lbs', '172lbs', '165lbs', '158lbs', '174lbs',
       '168lbs', '183lbs', '185lbs', '156lbs', '202lbs', '154lbs',
       '161lbs', '145lbs', '143lbs', '152lbs', '163lbs', '146lbs', nan,
       '192lbs', '181lbs', '190lbs', '196lbs', '141lbs', '150lbs',
       '169lbs', '179lbs', '160lbs', '157lbs', '187lbs', '137lbs',
       '171lbs', '134lbs', '170lbs', '139lbs', '140lbs', '159lbs',
       '184lbs', '178lbs', '151lbs', '162lbs', '138lbs', '182lbs',
       '200lbs', '136lbs', '189lbs', '149lbs', '167lbs', '201lbs',
       '198lbs', '123lbs', '194lbs', '132lbs', '127lbs', '193lbs',
       '126lbs', '212lbs', '207lbs', '180lbs', '147lbs', '130lbs',
       '173lbs', '205lbs', '209lbs', '203lbs', '191lbs', '195lbs',
       '128lbs', '129lbs', '211lbs', '125lbs', '216lbs', '121lbs',
       '214lbs', '117lbs', '206lbs', '225lbs', '204lbs', '220lbs',
       '110lbs', '223lbs', '218lbs', '118lbs', '119lbs', '227lbs',
       '243lbs', '234lbs', '213lbs', '215lbs'], dtype=object)

In [17]:
df_cat.head()

  gender height  weight strong_foot dedication_level     coaching
0      M    6'2  176lbs       Right             High  Talent Hunt
1      M   5'10  148lbs         Any           Medium       Source
2      F    6'2  172lbs        Left              Low      Academy
3      M   5'11  165lbs       Right           Medium      Academy
4      F    5'8  158lbs       Right           Medium      Academy

In [18]:
df_cat.isnull().sum()

gender               19
height                0
weight              417
strong_foot         552
dedication_level      0
coaching            125
dtype: int64

In [19]:
df_cat['gender']=df_cat['gender'].fillna(df_cat['gender'].mode()[0])

In [20]:
df_cat['weight']=df_cat['weight'].fillna(df_cat['weight'].mode()[0])

In [21]:
df_cat['strong_foot']=df_cat['strong_foot'].fillna(df_cat['strong_foot'].mode()[0])

In [22]:
df_cat['coaching']=df_cat['coaching'].fillna(df_cat['coaching'].mode()[0])

In [23]:
df_cat.isnull().sum()

gender              0
height              0
weight              0
strong_foot         0
dedication_level    0
coaching            0
dtype: int64

In [24]:
df_cat['weight']=df_cat['weight'].str.split('lbs').str[0]

In [25]:
df_cat['weight']=df_cat['weight'].astype(int)

In [26]:
df_cat.dtypes

gender              object
height              object
weight               int32
strong_foot         object
dedication_level    object
coaching            object
dtype: object

In [27]:
df_cat['gender']=df_cat['gender'].map({'M':0,'F':1})

In [28]:
df_cat['strong_foot']=df_cat['strong_foot'].map({'Right':0,'Left':1,'Any':2,'None':3})

In [29]:
df_cat['strong_foot'].unique()

array([0, 2, 1, 3], dtype=int64)

In [30]:
df_cat['dedication_level'].unique()

array(['High', 'Medium', 'Low'], dtype=object)

In [31]:
df_cat['dedication_level']=df_cat['dedication_level'].map({'High':0,'Medium':1,'Low':2})

In [32]:
df_cat['dedication_level'].unique()

array([0, 1, 2], dtype=int64)

In [33]:
df_cat['coaching'].unique()

array(['Talent Hunt', 'Source', 'Academy', 'Unknown'], dtype=object)

In [34]:
df_cat['coaching']=df_cat['coaching'].map({'Talent Hunt':0,'Source':1,'Academy':2,'Unknown':3})

In [35]:
df_cat['coaching'].unique()

array([0, 1, 2, 3], dtype=int64)

In [36]:
df_cat['height']=df_cat['height'].str[0]

In [37]:
df_cat['height']=df_cat['height'].astype(int)

In [38]:
df_cat.dtypes

gender              int64
height              int32
weight              int32
strong_foot         int64
dedication_level    int64
coaching            int64
dtype: object

In [39]:
## Now lets consider numerical column data

In [40]:
df_num.head()

,age,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,dribbling_skills,shot_accuracy,body_strength_stamina,max_running_speed,behaviour_rating,matches_played,fitness_rating,trophies_won,years_of_experience,no_of_disqualifications,selection
0,23,77.0,58.0,47.0,59.0,41.0,73.0,13.0,69.0,70.0,36.0,50.0,72.0,24.4,7.7,NaN,8.1,2.0,8.0,0.0,1
1,18,54.0,69.0,70.0,62.0,53.0,43.0,10.0,30.0,50.0,30.0,53.0,54.0,22.6,5.3,0.0,NaN,3.0,3.0,0.0,0
2,16,34.0,43.0,45.0,69.0,49.0,45.0,10.0,57.0,37.0,18.0,NaN,66.0,23.2,4.7,0.0,6.6,5.0,2.0,0.0,1
3,27,79.0,73.0,76.0,86.0,81.0,80.0,3.0,85.0,80.0,40.0,79.0,78.0,21.2,8.6,113.0,8.6,6.0,13.0,16.0,1
4,19,47.0,61.0,74.0,57.0,49.0,35.0,9.0,60.0,39.0,34.0,35.0,56.0,23.4,NaN,0.0,5.7,5.0,4.0,0.0,0

In [41]:
df_num.isnull().sum()

age                            0
ball_controlling_skills      413
body_reflexes                  0
body_balance                   0
jumping_skills                24
penalties_conversion_rate     30
mental_strength               28
goalkeeping_skills             0
defending_skills               0
passing_skills                 0
dribbling_skills               0
shot_accuracy                572
body_strength_stamina          0
max_running_speed              0
behaviour_rating             703
matches_played               666
fitness_rating               695
trophies_won                   0
years_of_experience          144
no_of_disqualifications        0
selection                      0
dtype: int64

In [42]:
for col in df_num.columns:
    df_num[col]=df_num[col].fillna(df_num[col].median())

In [43]:
df_num.head()

,age,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,dribbling_skills,shot_accuracy,body_strength_stamina,max_running_speed,behaviour_rating,matches_played,fitness_rating,trophies_won,years_of_experience,no_of_disqualifications,selection
0,23,77.0,58.0,47.0,59.0,41.0,73.0,13.0,69.0,70.0,36.0,50.0,72.0,24.4,7.7,0.0,8.1,2.0,8.0,0.0,1
1,18,54.0,69.0,70.0,62.0,53.0,43.0,10.0,30.0,50.0,30.0,53.0,54.0,22.6,5.3,0.0,6.8,3.0,3.0,0.0,0
2,16,34.0,43.0,45.0,69.0,49.0,45.0,10.0,57.0,37.0,18.0,50.0,66.0,23.2,4.7,0.0,6.6,5.0,2.0,0.0,1
3,27,79.0,73.0,76.0,86.0,81.0,80.0,3.0,85.0,80.0,40.0,79.0,78.0,21.2,8.6,113.0,8.6,6.0,13.0,16.0,1
4,19,47.0,61.0,74.0,57.0,49.0,35.0,9.0,60.0,39.0,34.0,35.0,56.0,23.4,5.9,0.0,5.7,5.0,4.0,0.0,0

In [44]:
df_num.isnull().sum()

age                          0
ball_controlling_skills      0
body_reflexes                0
body_balance                 0
jumping_skills               0
penalties_conversion_rate    0
mental_strength              0
goalkeeping_skills           0
defending_skills             0
passing_skills               0
dribbling_skills             0
shot_accuracy                0
body_strength_stamina        0
max_running_speed            0
behaviour_rating             0
matches_played               0
fitness_rating               0
trophies_won                 0
years_of_experience          0
no_of_disqualifications      0
selection                    0
dtype: int64

In [45]:
df_final=pd.concat([df_cat,df_num],axis=1)

In [46]:
df_final.shape

(13994, 27)

In [47]:
df_final.head()

,gender,height,weight,strong_foot,dedication_level,coaching,age,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,dribbling_skills,shot_accuracy,body_strength_stamina,max_running_speed,behaviour_rating,matches_played,fitness_rating,trophies_won,years_of_experience,no_of_disqualifications,selection
0,0,6,176,0,0,0,23,77.0,58.0,47.0,59.0,41.0,73.0,13.0,69.0,70.0,36.0,50.0,72.0,24.4,7.7,0.0,8.1,2.0,8.0,0.0,1
1,0,5,148,2,1,1,18,54.0,69.0,70.0,62.0,53.0,43.0,10.0,30.0,50.0,30.0,53.0,54.0,22.6,5.3,0.0,6.8,3.0,3.0,0.0,0
2,1,6,172,1,2,2,16,34.0,43.0,45.0,69.0,49.0,45.0,10.0,57.0,37.0,18.0,50.0,66.0,23.2,4.7,0.0,6.6,5.0,2.0,0.0,1
3,0,5,165,0,1,2,27,79.0,73.0,76.0,86.0,81.0,80.0,3.0,85.0,80.0,40.0,79.0,78.0,21.2,8.6,113.0,8.6,6.0,13.0,16.0,1
4,1,5,158,0,1,2,19,47.0,61.0,74.0,57.0,49.0,35.0,9.0,60.0,39.0,34.0,35.0,56.0,23.4,5.9,0.0,5.7,5.0,4.0,0.0,0

In [48]:
## Distributing train test

In [49]:
X=df_final.drop('selection',axis=1)

In [50]:
y=df_final['selection']

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [52]:
from sklearn.tree import DecisionTreeClassifier

In [53]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

In [55]:
y_train.value_counts()

1    5914
0    4581
Name: selection, dtype: int64

In [56]:
X_train.shape

(10495, 26)

In [57]:
y_train.shape

(10495,)

In [58]:
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred=dt.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.7922263503858246

In [59]:
RF=RandomForestClassifier()
RF.fit(X_train,y_train)
y_pred=RF.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.852529294084024

In [60]:
print(confusion_matrix(y_test,y_pred))

[[1326  285]
 [ 231 1657]]

In [61]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.82      0.84      1611
           1       0.85      0.88      0.87      1888

    accuracy                           0.85      3499
   macro avg       0.85      0.85      0.85      3499
weighted avg       0.85      0.85      0.85      3499

In [62]:
ADB=AdaBoostClassifier()
ADB.fit(X_train,y_train)
y_pred=ADB.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.8270934552729351

In [63]:
# From above I will select Random Forest Clasifier

In [64]:
import pickle

In [65]:
with open('model.pkl','wb')as f:
    pickle.dump(RF,f)

In [66]:
test_df=pd.read_csv('test.csv')

In [67]:
test_df.head()

,player_id,name,age,gender,country,height,weight,ball_controlling_skills,body_reflexes,body_balance,jumping_skills,penalties_conversion_rate,mental_strength,goalkeeping_skills,defending_skills,passing_skills,dribbling_skills,shot_accuracy,body_strength_stamina,max_running_speed,strong_foot,behaviour_rating,matches_played,fitness_rating,trophies_won,dedication_level,coaching,years_of_experience,no_of_disqualifications
0,PLID_14644,Ha Matta,16,F,Austria,6'1,163lbs,68.0,68.0,54.0,67.0,42.0,55.0,10.0,63.0,64.0,34.0,57.0,71.0,25.6,Right,6.5,0.0,7.7,3.0,Medium,Unknown,1.0,0.0
1,PLID_5934,Rex Weinstock,23,F,South Africa,5'9,170lbs,65.0,73.0,78.0,92.0,49.0,50.0,9.0,56.0,46.0,34.0,35.0,64.0,27.6,Right,5.1,1.0,6.1,3.0,Medium,Academy,9.0,0.0
2,PLID_5074,Raisa Angeles,18,F,Netherlands,5'10,154lbs,72.0,79.0,64.0,37.0,64.0,64.0,12.0,42.0,62.0,38.0,61.0,70.0,29.4,Left,5.8,0.0,8.4,2.0,Medium,Academy,3.0,0.0
3,PLID_17357,Jong Flewelling,24,F,China PR,6'0,168lbs,64.0,76.0,65.0,65.0,39.0,38.0,10.0,57.0,56.0,32.0,39.0,60.0,23.0,Right,5.2,0.0,6.2,6.0,High,Academy,10.0,0.0
4,PLID_13993,Dian Westmoreland,20,F,Australia,6'0,163lbs,53.0,58.0,57.0,66.0,36.0,59.0,11.0,61.0,52.0,26.0,39.0,66.0,23.2,Right,4.7,0.0,6.9,3.0,Medium,Talent Hunt,5.0,0.0

In [68]:
test_df.isnull().sum()

player_id                      0
name                           0
age                            0
gender                        20
country                        0
height                         0
weight                       271
ball_controlling_skills      270
body_reflexes                  0
body_balance                   0
jumping_skills                22
penalties_conversion_rate     16
mental_strength               18
goalkeeping_skills             0
defending_skills               0
passing_skills                 0
dribbling_skills               0
shot_accuracy                342
body_strength_stamina          0
max_running_speed              0
strong_foot                  378
behaviour_rating             442
matches_played               471
fitness_rating               438
trophies_won                   0
dedication_level               0
coaching                      87
years_of_experience           89
no_of_disqualifications        0
dtype: int64

In [69]:
test_df['gender']=test_df['gender'].fillna(test_df['gender'].mode()[0])

In [70]:
test_df['weight']=test_df['weight'].fillna(test_df['weight'].mode()[0])

In [71]:
test_df['strong_foot']=test_df['strong_foot'].fillna(test_df['strong_foot'].mode()[0])

In [72]:
test_df['coaching']=test_df['coaching'].fillna(test_df['coaching'].mode()[0])

In [73]:
test_df['weight']=test_df['weight'].str.split('lbs').str[0]

In [74]:
test_df['weight']=test_df['weight'].astype(int)

In [75]:
test_df['gender']=test_df['gender'].map({'M':0,'F':1})

In [76]:
test_df['strong_foot']=test_df['strong_foot'].map({'Right':0,'Left':1,'Any':2,'None':3})

In [77]:
test_df['dedication_level']=test_df['dedication_level'].map({'High':0,'Medium':1,'Low':2})

In [78]:
test_df['coaching']=test_df['coaching'].map({'Talent Hunt':0,'Source':1,'Academy':2,'Unknown':3})

In [79]:
test_df['height']=test_df['height'].str[0]

In [80]:
test_df['height']=test_df['height'].astype(int)

In [82]:
test_df1=test_df.copy()

In [83]:
test_df1=test_df1.drop(['player_id','name','country'],axis=1)

In [92]:
columns1=list(df_num.columns)

In [96]:
columns1=columns1[:-1]

In [97]:
for col in columns1:
    test_df1[col]=test_df1[col].fillna(test_df1[col].median())

In [98]:
test_df1.shape

(9330, 26)

In [102]:
y_pred_test=RF.predict(test_df1)

In [113]:
y_pred_test

array([1, 0, 1, ..., 0, 0, 0], dtype=int64)

In [ ]:
y

In [114]:
output=pd.DataFrame({'player_id':test_df['player_id'],'selection':y_pred_test})

In [115]:
output

       player_id  selection
0     PLID_14644          1
1      PLID_5934          0
2      PLID_5074          1
3     PLID_17357          0
4     PLID_13993          0
...          ...        ...
9325   PLID_7718          0
9326   PLID_1563          0
9327   PLID_6017          0
9328   PLID_9370          0
9329  PLID_10126          0

[9330 rows x 2 columns]

In [117]:
output.to_csv('submision_file.csv',index=False)